/* @override 
	http://localhost:3000/canyoucookme.css?b79f6f98a45f7ab38ca91d24e0a879c264d497a5
	http://localhost:3000/canyoucookme.css?3a698959aabb6243626e6f6b6e0f1324b9d4a38b
	http://localhost:3000/canyoucookme.css?858579c9305995de661bf898b5d6cbde0701857a
	http://localhost:3000/canyoucookme.css?59a77a0da25fc6dea7bafbbfcad82e456eec4089
	http://localhost:3000/canyoucookme.css?b7acc43d2e8166053168c67dd34e5f2cf7576820
	http://localhost:3000/canyoucookme.css?e5cc4911807c317f83fff5c188dd1bee86d22481 */

/* CSS declarations go here */
.unselected {
  display: none;
}#logo {position: relative; width:40%; border-style:solid;border-width:1px;padding-top:5%;padding-right:5%;}
#logo {position: relative; width:40%; border-style:solid;border-width:1px;padding-top:5%;padding-right:5%;}
#table {position: relative; width:80%; height: auto; border-style:solid; border-width:1px; margin-left:auto; margin-right: auto; margin-top:5%; }
#left{position:absolute;top:50%; left:-5%; }
#right{position:absolute; top:50%; right:-5%;}

.menu{border-style: solid; border-width: 1px; width: 20%; }
#start_button{
	
	margin-left: auto;
	margin-right: auto;
	background-color: #FF3600;
	border-style: solid;
	border-width: 1px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	color: #ffffff;
	padding: 8px 22px;
	font-size: 24px;
	line-height: 34px;
	font-family: "aw-conqueror-carved-one", sans-serif;
	border:0;
}
#start_button:hover{
	margin-left: auto;
	margin-right: auto;
	background-color: #FF6700;
	border-style: solid;
	border-width: 1px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	color: #ffffff;
}
#steps {
  width: 200%;
  left: -50%;
  position: relative;
}
.next_steps {
clear: both;
margin: 10px 0;
text-align: center;
width: 100%;
}
.nutrition {
clear: both;
margin: 5px 0;
text-align: center;
width: 100%;
}
#footercontainer {
border-top: 1px solid #cccccc;
}
.next_steps h2,
.nutrition h2 {
  font-size: 18px !important;
  text-align: center;
}
a.plain_button,
a.plain_button:link,
a.plain_button:visited {
  margin-left: auto;
  margin-right: auto;
  background-color: #FF3600;
  -moz-border-radius: 25px;
  border-radius: 25px;
  color: #ffffff;
  padding: 8px 22px;
  font-size: 24px;
  line-height: 34px;
  border:0;
  font-family: "aw-conqueror-carved-one", sans-serif;
}
a.plain_button:hover,
a.plain_button:active {
  margin-left: auto;
  margin-right: auto;
  background-color: #FF6700;
  -moz-border-radius: 25px;
  border-radius: 25px;
  color: #ffffff;
  font-family: "aw-conqueror-carved-one", sans-serif;
}
a#start_button.green,
a#start_button.green:link,
a#start_button.green:visited {
  background-color: #319B00;
}
a#start_button.green:hover,
a#start_button.green:active {
  background-color: #36AA00;
}
a.plain_button.green,
a.plain_button.green:link,
a.plain_button.green:visited {
  background-color: #319B00;
}
a.plain_button.green:hover,
a.plain_button.green:active {
  background-color: #36AA00;
}
a.plain_button.orange,
a.plain_button.orange:link,
a.plain_button.orange:visited {
  background-color: #FF8B00;
}
a.plain_button.orange:hover,
a.plain_button.orange:active {
  background-color: #FFB600;
}

#nav {position: absolute; left: 0%; top: 20px; width:100%; z-index: 1; }
#nav img { height: 42px; }
#next {
  position: relative;
  float: right;
}
.ingredient {
  width: 120px;
  margin: 10px;
  float: left;
}
.step_ingredients {
  display: block;
  position: relative;
}
.step_ingredients .col1 { width: 190px; }
.step_ingredients .col2 { width: 250px; }
.step_ingredients .col3 { width: 350px; }

#step {position: relative; width:100%;}

#choose h4{text-align: center; line-height: 35px; font-size: 42px; padding-top: 0px; margin-bottom: 20px; }
#recipe img {
  width: 500px;
}
#recipe h2 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 15px;
}
.recipe ul.ingredient_list li {
  font-size: 15px;
  line-height: 20px;
  display: block;
  font-family: "aw-conqueror-carved-one", serif;
  position:relative;
  clear: both;
}
.attributes {
  clear: both;
  margin-top: 20px;
}
#banner {
  position: absolute;
  top: 0;
  left: 0;
  border: 0 !important;
  padding: 0 !important;
  width: 100%;
}
#headcontainer header {
  background: white;
  background: rgba(255,255,255,1);
  width: 44%;
}
#maincontentcontainer #maincontent {
  background: white;
  background: rgba(255,255,255,1);
  width: 44%;
}
#title{padding-top: 0px;}


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}
#recipe {
position: relative;
top: -25px;
}
#recipe h2 {
text-align: center;
}
#recipe h1 {
font-size: 58px;
line-height: 68px;
text-align: center;
width: 100%;
}
#recipe .recipe_col {
float: left;
width: 48%;
margin-right: 2%;
margin-top: 20px;
}
.recipe_image {
float: left;
}
#info ul li{display: block;}
