/* CSS declarations go here */
.unselected {
  display: none;
}#logo {position: relative; width:40%; border-style:solid;border-width:1px;padding-top:5%;padding-right:5%;}
#logo {position: relative; width:40%; border-style:solid;border-width:1px;padding-top:5%;padding-right:5%;}
#table {position: relative; width:80%; height: auto; border-style:solid; border-width:1px; margin-left:auto; margin-right: auto; margin-top:5%; }
#left{position:absolute;top:50%; left:-5%; }
#right{position:absolute; top:50%; right:-5%;}
#items ul{list-style: none;}
#items ul li{display: inline; padding-left:2%;padding-right: 2%; padding-top: 1%; padding-bottom: 1%; }
.menu{border-style: solid; border-width: 1px; width: 20%; }
#start_button{width:30%; margin-left: auto; margin-right: auto; background-color: #FF3600; border-style: solid; border-width: 1px;-moz-border-radius: 25px;
border-radius: 25px; color: #ffffff; padding: 10px 15px; font-size: 32px; line-height: 42px; font-family: "aw-conqueror-carved-one", sans-serif; border:0;}
#start_button:hover{width:30%; margin-left: auto; margin-right: auto; background-color: #FF6700; border-style: solid; border-width: 1px;-moz-border-radius: 25px;
border-radius: 25px; color: #ffffff;}

#nav {position: absolute; left: -5%; top: 100px; width:110%; z-index: 1; }

#next {
  position: relative;
  float: right;
}
.ingredient {
  width: 120px;
  margin: 10px;
  float: left;
}
.step_ingredients {
  display: block;
  position: relative;
}
.step_ingredients .col1 { width: 190px; }
.step_ingredients .col2 { width: 250px; }
.step_ingredients .col3 { width: 350px; }

#step {position: relative; width:100%;}

#choose h4{text-align: center; font-size: 2em; padding-top: 50px;}
#recipe{position: relative; padding-left: 10%}
#banner {
  position: absolute;
  top: 0;
  left: 0;
  border: 0 !important;
  padding: 0 !important;
  top: -25px;
  height: 670px;
}
#headcontainer header {
  background: white;
  background: rgba(255,255,255,0.95);
}
#maincontent {
  background: white;
  background: rgba(255,255,255,0.95);
}
#title{padding-top: 0px;}
#recipe{position: relative; width:80%; margin-left: auto; margin-right: auto;}

#recipe img{position:absolute; padding-top: 5%; left: 0px;}
#info {position: absolute; left:50%; padding-top: 5%;}